body{
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
   /* width: 100%;*/
   
    
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#reg-div {
  position: relative;
} 
/* Main div for border to extend to 50% from bottom left corner */
#reg-div:after {
  content:""; 
  background: #f00; 
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  height: 95%; 
  width: 1px;
}
#login-div a{
	text-decoration: none;
	color:#ccc;
	margin-top: 1%;
}
#login-div a:hover{
	text-decoration: none;
	color:red;
}

#fix-footer{

    margin: 0;
    width: 100%;
    padding: 0;

}
#content{
      margin: 84px auto auto auto;
      border: 1px solid #333;
}
#reg-btn{
      margin-top: 56px;
    left: 177px;
}
/*custom off set*/
