/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* animations */
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
#content{
    height: 240px !important;
}
.plus:after{
  font-family: FontAwesome;
  content: "\f068";
  position: relative;
     top:0;
     right:-5px;

    color: red;
    font-size: 17px;     
}
.plus:after{
   font-family: FontAwesome;
  content: "\f067";
 }

 .minus:after{
  font-family: FontAwesome;
  content: "\f068";
  position: relative;
     top:0;
     right:-5px;

    color: red;
    font-size: 17px;     
}
.minus:after{
   font-family: FontAwesome;
  content: "\f068";
 }
 
 #itemstable table, tr, td, th
{
    border: 1px solid black;
    border-collapse:collapse;
}
 #itemstable {
    padding: 0px;
 }
tr.header
{
    cursor:pointer;
}
#inner-table{
    margin: 0px;
}
.discount{
   background-color: #b8fcb8; 
}
.discount-icon {
    color:#b8fcb8;

}
.out-of-stock{
    background-color: #f78c8c;
}
.out-of-stock-icon{
    color:#f78c8c;
}
#wishlist tr
{
    cursor:pointer;
    font-weight: 600;
}
#action-btn{
    background-color: white;
    width: 1px;
}
.buttons{
    padding-right: 50px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
a{
    text-decoration: none !important;
}
 @media screen and (max-width : 333px) {
  .breadcrumb{
     padding: 10px 14px !important;
}

 }
@media screen and (max-width : 331px) {
  .breadcrumb{
     font-size: 12px !important;
}

 }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
 .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
 .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, 
  .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
   .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11,
    .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
 .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 0px !important;
  padding-right: 0px !important;
 }

  #message{
  position: relative;
  top:5px;
  font-size: 15px;
  z-index: 100;
  left:2px;
  color: #f75b59;

 

}
.error{
  border-color: red;
}
.message_area{
  width: 230px;
  height: 35px;
  border:1px solid rgba(0,0,0,0.2);
  position: fixed;
  left:8%;
  top:18%;
  border-radius: 4px;
  background-color: white;
  transition:background-color 0.7s;
  display: none;
  z-index: 100;
  background-color: #DDD;
  border:1px solid red;
}

.breadcrumb {
   
    margin-bottom: 48px !important;
  }
   .table_content {
    display: none;
    padding : 5px;
}