#content{
	margin-top: 30px;
}
.breadcrumb{
	    margin: 70px 0 20px 0;
    padding: 8px 0;
    border: 1px solid #ddd;
}
.breadcrumb  li{
	    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
.message_area{
  width: 230px;
  height: 35px;
  border:1px solid rgba(0,0,0,0.2);
  position: fixed;
  left:77%;
  top:90%;
  border-radius: 3px;
  background-color: white;
  transition:background-color 0.7s;
  display: none;
  z-index: 100;
  background-color: #DDD;
  border:1px solid red;
}


  #message{
  position: relative;
  top:5px;
  font-size: 15px;
  z-index: 100;
  left:2px;
  color: #f75b59;

 

}
.error{
	border-color: red;
}
#input-password::parent {
	color:red;
 
}