#viewitems{

	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    

}
header{
	margin: 0
}
.panel-body{
	padding: 0px !important;

}
.list-group{
	margin: 0px !important;
}
#panel4{
	padding-left: 6px;
    padding-right: 9px;
    padding-bottom: 8px;
}
#price{
    border:0;
	color:#b9cd6d;
	font-weight:bold;
	padding-left: 20px;
	width:100%;
}
.list-group-item:hover{ cursor: pointer !important; }

/*#price-1{
    border:0;
    color:#b9cd6d;
    font-weight:bold;
    padding-left: 20px;
    width:100%;
}*/

#filters-content{
	margin-top: 15px;
}
#menu .dropdown-span{
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    }
#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    border-top-color: rgb(31, 144, 187);
    border-right-color: rgb(31, 144, 187);
    border-bottom-color: rgb(20, 94, 122);
    border-left-color: rgb(31, 144, 187);
}
.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.navbar-header{
	background-color: #229ac8;
	border-radius: 4px;

}
.navbar-collapse {
     padding-right: 0px !important;
     padding-left: 0px !important;
 }
.visible-xs{
	margin-bottom: -23px;
}
#price-xs{ 
	height: 52px;
    border: 1px solid #ddd;
    padding-left: 6px !important;
    padding-right: 6px !important;
    overflow: hidden;
}
#search input,button{
	height: 30px;
}
#search i{
	position: relative;
    top: -8px;
}
 button{
	    background-color: #eee !important;
}
@media (max-width: 767px){
	#view-navigation{
		    margin-top: 15px;

	}
}
#applied-filters .breadcrumb{
	margin: 0px;
}
#applied-filters .breadcrumb  li{
	padding: 0 10px;
	content: none !important;
}
#applied-filters .breadcrumb > li:after {
	content: none !important;
	}
#applied-filters  li:first-child {
	font-size: 15px;
    font-weight: 900;
}
#applied-filters i{
	color:#a94442;
	position: relative;
    left: 6px;
}
/*test*/


.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #ddd;
}
.product-thumb button{
	height: 39px;
}
.list-group-item img{
	       margin-right: 15px !important;

}
.item.list-group-item:after
{
    clear: both;
}

.list-group-item-text
{
    margin: 0 0 11px;
}
.button-group{
	height: 40px !important;
}


.product-thumb {
    
    margin-bottom: 9px !important;
}
/*
#products{
	margin-top: 9px !important;
}
*/
.list-view-fix{
        margin-top: 55px !important;
    margin-left: 15px !important;
}
@media (max-width: 409px){
	.item.list-group-item img
{
   
    border-width: 0px ;

}
}
.hidden-md {
	margin-top: 45px;
}
@-moz-document url-prefix() {
    .img-responsive{
        height: 190px !important;
    }
    #search input,button{
    height: 36px;
}
}
/*test image
.image{
        min-height: 220px;
}
*/
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    min-height: 200px !important;
        max-height: 200px !important
}
#compare-total{
        margin-left: -15px;
}
#cancel-btn{
    width: 100% !important;
    color: #f71d1d;
}
#loading{
    display: none;
}