#add_item_content_box{
	display:-webkit-box;
	display:-moz-box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-box-flex:1;
	-moz-box-flex:1;
    width:100%;
}
#option_bar_and_ai_icon_box{
  display:-webkit-box;
	display:-moz-box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	padding:15px;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

#table_add_item{
}

#option_bar form{
	margin-top:8px;
}

#adder{
position: relative;
}
#adder p{
position: relative;
  	font-size: 85%;
    letter-spacing: 1px;
    color: #bbb;
    font-size: 16px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 110;	
    color: rgb(35,39,45);
    margin-left: 30px;
}
#paragraph_box{
	border:1px solid rgba(0,0,0,0.1);
	margin: 10px;
	margin-left: 0px;
	border-left: 0px;
	border-right: 0px;
	height: 45px;
	padding: 4px;
	width:calc(100% - 7px);
	padding-bottom: 10px;
	background-color: rgba(140,140,140,0.2);
	margin-bottom: 50px;
}
#paragraph_box:hover{
-webkit-box-shadow: inset 14px -28px 37px -48px rgba(0,0,0,0.75);
-moz-box-shadow: inset 14px -28px 37px -48px rgba(0,0,0,0.75);
box-shadow: inset 14px -28px 37px -48px rgba(0,0,0,0.75);
}

#option_bar{
  -webkit-box-flex:1;
  -moz-box-flex:1;
}

#state{
}
#select_item{
	padding: 10px;
}
#search_label{
	font-size: 20px;
	color:rgba(0,0,0,0.7);
	margin-right: 5px;
	margin-top:5px;
}
#select_label{
	font-size: 18px;
	color:rgba(0,0,0,0.7);
	margin-top:5px;
}
#search{
	width:450px;
}
#search:hover{
	cursor: auto;
}
#view_item_box{
	/*display:inline-block;*/
    padding:5px;
    padding-bottom:15px;
	background:white;
    border-bottom:1px solid lightgray;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-box-flex:1; -moz-box-flex:1;
}

#item_token{
	display:inline-block;
	border:1px solid lightgray;
	transition-property:top,box-shadow;
	transition-duration:0.3s,0.3s;
	margin:10px;
	margin-left:15px;
}

#item_token *{
	margin:0px;
}

#item_photo{
}

#item_photo img{
	width:290px;
	height: 250px;
	border:none;
	border-bottom:1px solid lightgray;
    margin-bottom:-6px;
}
#bottom_container{
	padding:0px;
	-webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-box-flex:1; -moz-box-flex:1;
    display:-webkit-box;
    display:-moz-box;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#item_name{
	border-right:1px solid lightgray;

	overflow:scroll;
	overflow-x:scroll;
	overflow-y:hidden;
	background-color:white;
	width:240px; height:56px;
	padding:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	
}
#item_name p{
	font-size:12px;
	font-family:Arial;
}
#item_buttons{
	text-align:center;
	padding:5px 0px 5px 17px;
	font-size:24px;
	text-align:center;
}
#edit_item{
	transition: all 1.8s ease;
	color:rgba(70,163,70,0.8);
}
#edit_item:hover{
	cursor: pointer;
	color:rgba(40,123,50,1);
}
#delete_item{
	transition:color 0.5s;
	color:rgba(252,78,59,0.8);
}
#delete_item:hover{
	cursor: pointer;
	color:rgba(232,58,39,1);
}
#add_item_icon{
	font-size:50px;
	color:lightgreen;
	transition:color 0.5s;
}
#add_item_icon:hover{
	cursor: pointer;
	color:rgb(114,208,114);
}
#add_item_box{
	position: fixed;
	width:880px;
	top:20px;
	left:calc(50% - 450px);
    z-index: 1051;
	background-color: white;
	border:3px solid rgba(0,0,0,0.5);
	padding:8px;
	display:none;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}


#add_item_form{
	width:800px;
	padding:25px;
	z-index: 1051;
	display:block;
	border: 2px solid rgba(0,0,0,0.5);

}
#item_price_field{
	margin-right: 40px;
	width:100px;
}
#item_name_field{
	width:300px;
	margin-right:10px;
}
#form_number{
	width:70px;
	margin-left:10px;
}

#productCode{
	margin-left:10px;
}

#aib_icon_top_container{
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	padding:5px 5px 0px 0px;
}

#aib_icon_top_container #ic{
	-webkit-box-flex:1;
   -moz-box-flex:1;
}

#close_add_item_window{
	color:rgba(0,0,0,0.7);
	transition:color 0.5s;
	font-size: 25px;
	float: right;
	position: relative;
	top:-40px;
}
#close_add_item_window:hover{
	color:red;
	cursor: pointer;
}
#category_list{
	margin-left: 10px;
    padding:5px;
}
#brand_list{
	margin-right: 10px;
	padding:5px;
}
#category_list option{
	padding:9px;
}
#brand_list option{
	padding:9px;
}
#new_price{
	width:70px;
	margin-left: 10px;
}
#text_editor{
	margin-top: 20px;
	/*height: 320px;*/
	display:-webkit-box;
	display:-moz-box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}

#text_editor_at_the_edit_item_box{
	padding-top:30px;
	padding-bottom:20px;
}

#text_editor_at_the_edit_item_box #describtion_strong{
	font-size:15px;
	font-weight:bold;
	margin-bottom:15px;
}

#add_item_sb_btn_box{
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	margin-top:-20px;
}

#bb{
  -webkit-box-flex:1;
	-moz-box-flex:1;
}

#bb button{
	margin:0px 70px 10px 0px;
}

#add_item_submit_button{
	z-index: 100;
	position: relative;
	margin:100px;

}

#add_item_submit_button2{
	display: -webkit-box;
	z-index: 100;
	height: 65px;
	width: 100px;
}

#edit_item_box{
	position: fixed;
	width:920px;
	z-index: 1051;
	background-color: white;
	border:3px solid rgba(0,0,0,0.5);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	left:calc(50% - 450px);
	top:0px;
	padding:8px;
	margin:10px;
	display: none;
}
#close_edit_item_window{
	color:rgba(0,0,0,0.7);
	transition:color 0.5s;
	float:right;
	margin-top:10px;
	margin-right:10px;
	font-size:25px;
}
#close_edit_item_window:hover{
	color:red;
	cursor: pointer;
}
#category_list2{
width:200px;
}
#category_list2 option{
	padding:9px;
}
#form_number2{
	width:70px;
}

#item_window_back{
	position: absolute;;
	right:0px;
	left:895px;
	top:130px;
	font-size: 35px;
	color:lightblue;
	transition:color 0.5s;
	display: none;
}
#item_window_back:hover{
	color:blue;
	cursor: pointer;
}
#item_photo_adder{
  display: none;
  border:2px solid rgba(0,0,0,0.5);
  width:880px;
  height:440px;
}

#main_contents{

}

   #bottom_div2 {
            background: white;
            width: 815px;
            height: 70px;
            background: #e6ffe6;
            padding: 32px;
            padding-right:33px;
            padding-bottom:0px;
            padding-top:20px;
            border-bottom:2px solid rgba(0,0,0,0.5);
   }

        #line {
            font-size: 9pt;
            float: left;
            position: relative;
            top: 14px;
        }

            #line a {
                color: #33cc33;
                text-decoration: none;
            }

                #line a:hover {
                    text-decoration: underline;
                }

        .myLabel {
            position: relative;
            background-color: #5cd65c;
            float: left;
            left: 12em;
            height: 18px;
            width: 200px;
            padding: 10px 15px;
            padding-bottom: 15px;
            text-align: center;
            color: white;
            border-radius: 5px;
            transition:background-color 500ms;
        }

            .myLabel:hover {
                background-color: #47d147;
                
            }

            .myLabel span {
                font-size: 14pt;
                cursor:pointer;
            }

            .myLabel  input[type="file"] {
                position: absolute;
                left: 0em;
                top: 2pt;
                z-index: 2;
                opacity: 0;
                height: 38px;
                width: 228px;
                color:red;
                cursor:pointer;
                border:1px solid red;
            }

        input[type="submit"] {
            left: 12em;
            position: relative;
            height: 2.5em;
            width: 7em;
            color: #3d464d;
            padding: 8px 15px;
            text-align: center;
            border: none;
            border-radius: 4px;
            background: white;
            font-size: 13pt;
            border: 1px solid lightgray;
            cursor: pointer;
        }
input{
cursor: pointer;
 }
#item_images_viewer{
	position: relative;
	width:848px;
	height: 360px;
	top:30px;
	left:-20px;
	padding:8px;
}
.image_box{
position: relative;
border:1px solid rgba(0,0,0,0.3);
width:200px;
height: 150px;
float:left;
margin-right: 10px;
margin-bottom: 10px;
}
.image_box img{
	width:199px;
	height: 120px;
}
#delete_this_photo:hover{
color:red;
cursor: pointer;
}
#make_primary:hover{
color:gold;
cursor: pointer;
}

#window_tabs{
	width:500px;
	height: 70px;
	border:0px solid black;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}
#tab_button{
	border: 1px solid rgba(0,0,0,0.5);
	padding-left: 10px;
	margin: 5px;
	width: 100px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius: 4px;
	background-color: white;
	transition:background-color 0.5s;
	transition:border-color 0.5s;
}
#tab_button:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.15);
	border-color: white;
}
#window_wrapper{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}
#form_number2,#discount_ratio{
	width:75px;
}
#item_price_field2{
	width:100px;
}
#specification_wrapper{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	display: none;
}
#specification_wrapper h3{
	margin-left: 20px;
	color: rgba(0,0,0,0.55);
}
#specification_body{
	border: 2px solid rgba(0,0,0,0.5);
	padding-left:5px;
	height: 420px;
	overflow-y:scroll;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	
}
#specification_list{
	 display: -webkit-box;
	-webkit-box-orient:vertical;
}
#specification_token{
	width:500px;
	height: 35px;
	margin-top: 20px;
	margin-left:15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 3px;
	padding-top: 20px;
	background-color: rgba(142, 249, 169, 0.7);
	font-size: 17px;
	overflow-x:hidden; 
	transition:box-shadow 0.5s;
}
#specification_token:hover{
	cursor: pointer;
	-webkit-box-shadow: 3px 5px 27px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 5px 27px -11px rgba(0,0,0,0.75);
	box-shadow: 3px 5px 27px -11px rgba(0,0,0,0.75);
}
#specification_key{
	padding-right: 12px;
	margin-right: 3px;
	border-right: 2px solid rgba(0,0,0,0.5);
}
#specification_token #delete{
margin-right: 10px;
float: right;
}
#delete_specification{
	font-size: 20px;
	transition:color 0.5s;
}
#delete_specification:hover{
	color:red;
}
#add_new_specification{
	border: 1px solid rgba(0,0,0,0.3);
	width: 315px;
	height: 300px;
	margin-left: 25px;
	margin-top: 20px;
	border-radius: 5px;
	padding:10px;
	background-color: #e6f0fb;
	position: fixed;
}
#add_new_specification_button{
	display: -webkit-box;
	width:310px;
	margin-top: 30px;
}






